<!--
  Generated template for the HistoricoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Histórico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let hist of historicos">
    <ion-item>
      <h1>Viagem de {{hist.datahoraenvio}}</h1>
    </ion-item>
    <ion-item>
      <h2>DTCs</h2>
    </ion-item>
    <ion-item>
      <p>{{hist.dtc == null ? 'Sem problemas detectados!' : ' '}}</p>
    </ion-item>
    <ion-item *ngFor="let dtcuni of hist.dtc">
        <p>Código: {{dtcuni}}</p>
    </ion-item>
          
    <ion-item>
      RPM Média: {{hist.dadosobd.viagem[0].EngineRPM}} RPM
    </ion-item>
    <ion-item>
      Diferença de combustível nesta viagem: +{{hist.dadosobd.viagem[0].FuelLevel}}%
    </ion-item>
    <ion-item>
      Carga média do motor: {{hist.dadosobd.viagem[0].EngineLoad}}%
    </ion-item>
    <ion-item>
      Temperatura média do motor: {{hist.dadosobd.viagem[0].EngineTemp}}°C
    </ion-item>
    <ion-item>
      Velcoidade média: {{hist.dadosobd.viagem[0].VehicleSpeed}}km/h
    </ion-item>
    <ion-item>
      Carga de aceleração média: {{hist.dadosobd.viagem[0].AccelerationLoad}}%
    </ion-item>
    <ion-item>
      Distância percorrida com defeitos: {{hist.dadosobd.viagem[0].DistanceWithMILOn}}km
    </ion-item>
    <ion-item>
      Distância percorrida desde o último defeito: {{hist.dadosobd.viagem[0].DistanceWithoutMILOn}}km
    </ion-item>
  </ion-card>
</ion-content>