<ion-header>

    <ion-navbar>
        
            <ion-buttons start>
              <button ion-button (click)="login()">
                <ion-icon name="contact"></ion-icon>
                <p>Login</p>
              </button>
              <button ion-button (click)="upload()">
                <ion-icon name="cloud-upload"></ion-icon>
                <p>Fazer upload de Histórico</p>
              </button>
            </ion-buttons>
            <!--<button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>-->
            <ion-title>
                <img src ="assets/imgs/logoPecaPreco.png" alt="logo">
            </ion-title>
            <ion-buttons end>
              <button ion-button (click)="doClick()">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-buttons>
          </ion-navbar>
    <!--  <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <img src ="assets/imgs/logoPecaPreco.png" alt="logo">
    </ion-navbar> -->
  
</ion-header>

<ion-content padding>
    <div class="dropdown">
        <ion-searchbar [(ngModel)]="searchQuery" (keydown.Enter)="getLojas($event)" (ionInput)="getLoja($event)" class="dropbtn" id="myInput"></ion-searchbar>
          <div id="myDropdown" class="dropdown-content">
              <ion-item *ngFor = "let loja of busca" (click)="verLoja(loja.id)">
                  <h2>{{loja.nome}}</h2>
              </ion-item>
          </div>
        </div>
    
    <ion-card *ngFor = "let lista_loja of lojas">

      <img class="lojaImg" [src]="'data:image/jpg;base64,'+ lista_loja.imagem | safeHtml"/>
      <!--<ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>-->
    
      <ion-item>
        <ion-icon name="build" item-start large></ion-icon>
        <h2>{{lista_loja.nome}}</h2>
        <p>CNPJ:{{lista_loja.cnpj}}</p>  
      </ion-item>
    
      <ion-item>
        <ion-icon name="home" item-start large ></ion-icon>
        <h2>{{lista_loja.cidade}}</h2>
        <p>{{lista_loja.bairro}}, {{lista_loja.logradouro}}, {{lista_loja.numero}}</p>
        <p>CEP:{{lista_loja.cep}}</p>
      </ion-item>
    
      <ion-item>
        <span item-start>Latitude:{{lista_loja.latitude}}, Longitude: {{lista_loja.longitude}}</span>
        <span item-start>(2.6 km)</span>
        <button ion-button icon-start clear item-end>
          <ion-icon name="navigate"></ion-icon>
          Ir até Loja
        </button>
      </ion-item>
    
    </ion-card>

    <!--<ion-card *ngFor = "let loja of lojas">
      <img [src]="teste.png"/>
      <ion-card-content>
        <ion-card-title>
          {{loja.nome}}
          </ion-card-title>
        <p>
          {{loja.cnpj}}
        </p>
      </ion-card-content>
    </ion-card>-->
  
</ion-content>
